.contenedor {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  margin: 0 1.5%;
  gap: 2%;
}

.lista {
  height: auto;
  background-color: black;
  border: 0.8px solid #80bdca;
  border-radius: 10px;
  /* background-color: #b2e3ee;
     transition: box-shadow 0.3s ease, transform 0.3s ease;*/
}

.lista h3 {
  color: white !important;
}

.tabla {
  height: auto;
  background-color: red;
}

.tabla table{
    font-size: 2.3vh;
}

.table table thead th,tbody td {
    max-width: 55px; /* Establece el ancho máximo de las celdas en 200px */
    min-width: 40px;
    word-wrap: break-word;
}
  
