* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 7vh;
  align-items: center;
  top: 10px;
  margin-bottom: 10px;
  background: rgb(247,233,217);
  background: linear-gradient(0deg, rgb(202, 253, 253) 0%, rgba(0, 101, 184, 0.611) 100%);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  rgba(247,233,217,1)  f7e9d9 */
}

.principal {
  background-color: rgb(202, 253, 253);
}

.contenedor {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: 3% 2% 0 2%;
  gap: 2%;
}

.infor {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  text-align: justify;
  border: 0.8px solid #80bdca;
  border-radius: 35px;
  background-color: #b2e3ee;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.infor:hover {
  box-shadow: inset 0px 10px 15px -3px rgba(0, 0, 0, 0.2),
    inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform: translate(3px, 3px);
}

.textoInformativo {
  text-align: justify;
  padding: 6%;
  margin: 0%;
}
