.menuLista {
  display: flex;
  width: auto;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.menuLista li {
  margin: 0 3%;
  display: flex;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 5px;
}
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #64a59a, #5db689, #5fb47c);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
ul a:hover::before {
  transform: scaleX(1);
}
ul[data-animation="center"] a::before {
  transform-origin: center;
}

.menuLink {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.menuLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to right, #64a59a, #5db689, #5fb47c);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.menuLista li:hover .menuLink::before {
  transform: scaleX(1);
}

.menuLista[data-animation="center"] .menuLink::before {
  transform-origin: center;
}
