.contenedor {
  display: flex;
  height: 78vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 380px;
  width: 900px;
  /* background-color: #565c66; */
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 0px 25px 11px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.form {
  height: 460px;
  width: 350px;
  background-color: rgb(36, 35, 35);
  top: -40px;
  position: relative;
  border: #727477 solid 2px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form input {
  width: 250px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

.form input:focus-visible {
  border: #9da0a7 solid 1px;
  outline-width: 0;
  box-shadow: 0px 4px 52px -8px rgba(0, 0, 0, 0.1);
}

.form h1 {
  font-size: 10vh;
}

.img {
  object-fit: cover;
  height: auto;
  max-width: 90%;
  margin-top: -15%;
  margin-left: 5%;
}

.Bregistro {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #797a7c;
}

.Bregistro:hover {
  color: rgb(118, 118, 255);
}

.Blogin {
  height: 29px;
  width: 105px;
  border-radius: 5px;
  border: #8e9094 solid 1px;
  transition: width 0.5s ease, transform 0.3s ease;
}

.Blogin:hover {
  width: 115px;
  background-color: #c1c3c9;
  transform: translate(0px, 3px);
}

.MuiCircularProgress-indeterminate {
  animation: circular-rotate 1.4s linear infinite;
}

@keyframes circular-rotate {
  0% {
    transform: rotate(0deg);
    /* Fix IE11 wobbly */
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
